.wrapper {
  width: 100%;
  height: 500%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: overline;
}

.school {
  position: relative;
  flex: 1;
  margin-left: 50px;
  margin-top: 31px;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 24px;
  color: #000000;
}

.number {
  position: relative;
  align-self: center;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 24px;
  margin-right: 51px;
  color: #000000;
}

.contacts {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 26px;
  flex: 1;
}

.row,
.row_white,
.row_centered {
  display: flex;
  flex-direction: row;
}

.row_white {
  background-color: #ffffff;
}

.row_centered {
  justify-content: center;
  align-items: center;
}

.logo {
  position: relative;
  margin-right: 51px;
  align-self: center;
}

.norn {
  position: relative;
  flex-direction: row;
}

.name {
  font-family: Puritan;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 48px;
  letter-spacing: 0.1em;
  margin-left: 2rem;
}

.menu {
  position: relative;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  align-self: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  background-color: #ffffff;
}

.menu ul {
  display: flex;
  justify-content: flex-start;
  list-style: none;
}

.it,
.it_2 {
  list-style: none;
  text-decoration: none;
  display: table-cell;
  text-align: center;
}

.it_2 {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 18px;
  color: #000000;
}

.mn {
  width: 50%;
  display: table;
}

.pics {
  flex: 8;
  display: flex;
  flex-direction: column-reverse;
  align-self: flex-end;
  margin-right: 4%;
}

.girl_top {
  height: 0;
  width: 6%;
  padding-bottom: 6%;
  margin-top: 2%;
  margin-bottom: -7%;
  background-color: #bacbdc;
  transform: rotate(45deg);
  align-self: center;
}

.girl_pic {
  display: block;
  position: relative;
  max-width: 1075.79px;
  max-height: 818.96px;
  width: 100%;
  height: auto;
  object-fit: contain;
}

.first_rec_container {
  flex: 6;
  display: flex;
  flex-direction: column-reverse;
  align-self: flex-end;
  margin-right: -20%;
  margin-left: 15%;
}

.first_rec_top {
  height: 0;
  width: 6%;
  padding-bottom: 6%;
  margin-top: 2%;
  margin-bottom: -7%;
  background-color: #435465;
  transform: rotate(45deg);
  align-self: center;
  z-index: 3;
}

.first_rec_top_2 {
  height: 0;
  width: 12%;
  padding-bottom: 12%;
  margin-top: 4%;
  margin-bottom: -14%;
  background-color: #ffffff;
  transform: rotate(45deg);
  align-self: center;
  z-index: 2;
}

.first_rec_pic {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: auto;
  object-fit: contain;
  z-index: 1;
  max-height: 480px;
}

.description {
  position: absolute;
  display: inline;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: normal;
  line-height: 31px;
  font-size: 18px;
  text-align: center;
  color: #000000;
  align-self: center;
  margin: 20%;
  z-index: 4;
}

.button_details {
  position: absolute;
  display: inline;
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: normal;
  line-height: 31px;
  font-size: 18px;
  text-align: center;
  color: #000000;
  top: 70%;
  left: 35%;
  z-index: 4;
  border: 1px solid #000000;
  box-sizing: border-box;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 25px;
  padding-right: 25px;
}

.girl_houses {
  display: block;
  position: absolute;
  width: 100%;
  height: auto;
  object-fit: contain;
  z-index: 5;
  max-width: 203.52px;
  align-self: center;
}

.lang_container {
  flex: 6.5;
  display: flex;
  justify-content: flex-end;
  margin-top: -18%;
  margin-left: 15%;
}

.houses_container {
  flex: 5.5;
  display: flex;
  justify-content: flex-start;
  margin-top: -18%;
  margin-right: -5%;
}

.lang_rec {
  display: flex;
  flex: 3;
  flex-direction: row;
  align-items: center;
}

.houses_rec {
  flex: 3;
}

.lang_rec_img_top {
  margin-left: -12%;
  display: block;
  position: relative;
  max-height: 34.88px;
  width: 17%;
  height: auto;
  object-fit: contain;
}

.lang_rec_img {
  display: block;
  position: relative;
  max-height: 211px;
  width: 100%;
  height: auto;
  object-fit: contain;
}

.houses_img {
  display: block;
  position: relative;
  max-height: 203.52px;
  width: 100%;
  height: auto;
  object-fit: contain;
}

.mark_white_img {
  display: flex;
  align-self: center;
  margin: 5%;
}

.vid {
  display: flex;
  align-self: center;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 24px;
  color: #ffffff;
}

.block_1 {
  display: flex;
  flex-direction: column;
  flex: 1;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 14px;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.4);
  padding-left: 90px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-right: 90px;
}

.arrow {
  margin-left: 1rem;
}

.blocks,
.blocks_timetable {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  margin-top: 2rem;
}

.blocks_timetable {
  background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%),
    #bacbdc;
  display: flex;
  flex-direction: row;
  align-content: space-between;
  margin-top: 2rem;
  margin-left: 50px;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-right: 50px;
}

.small_square,
.small_square_with_margin {
  width: 10px;
  height: 10px;
  background-color: #ffffff;
  transform: rotate(45deg);
  align-self: center;
  margin-left: 5px;
  margin-right: 5px;
}

.small_square_with_margin {
  margin-right: 2rem;
}

.feedback {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 24px;
  text-align: center;
  color: #ffffff;
  padding-top: 2rem;
}

.opinion {
  display: flex;
  flex-direction: column;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  line-height: 25px;
  font-size: 18px;
  text-align: center;
  color: #ffffff;
  margin-left: 3rem;
  margin-right: 3rem;
  margin-bottom: 1rem;
}

.ingeborga {
  display: flex;
  flex-direction: row;
  margin-left: 15rem;
  margin-right: 15rem;
  background: rgba(0, 0, 0, 0.4);
  align-items: center;
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.building {
  margin-top: 5rem;
  position: relative;
  background-repeat: no-repeat;
  max-width: 1510px;
}

.logo_down {
  width: 30px;
  height: 30px;
  margin-right: 2rem;
}

.adress {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  line-height: 25px;
  font-size: 18px;
  color: #ffffff;
  margin-right: 2 rem;
}

.map {
  position: relative;
  background-repeat: no-repeat;
  max-width: 1510px;
}

.blue_background {
  margin-top: 10rem;
  max-width: 1510px;
}

.square_with_logo {
  position: relative;
  width: 231.75px;
  height: 231.75px;
  left: 48px;
  top: -0.13px;
  background: #ba9898;
  transform: rotate(-45deg);
  margin-top: -120px;
}

.norn_under_logo {
  height: 26px;
  font-family: Puritan;
  font-style: normal;
  font-weight: normal;
  line-height: 32px;
  font-size: 24px;
  letter-spacing: 0.1em;
  color: #000000;
}

.logo_with_norn {
  transform: rotate(45deg);
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: 125px;
}

.choice {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin-top: 100px;
}

.level_block {
  display: flex;
  flex-direction: column;
  max-width: 450px;
  max-height: 300px;
}

.level_name {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 18px;
  text-transform: uppercase;
  color: #ffffff;
}

.level_description {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  font-size: 14px;
  color: #ffffff;
}

.pictures {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 40px;
  margin-right: 40px;
}

.timetable_head {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 24px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 100px;
}

.want_to_know_date {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 14px;
  text-align: center;
  color: #ffffff;
  margin-top: 1rem;
}

.month {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 18px;
  text-align: right;
  text-decoration-line: underline;
  color: #000000;
  justify-content: flex-end;
  padding-left: 100px;
}

.course {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  line-height: normal;
  font-size: 14px;
  color: #000000;
}

.btn {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  line-height: 0px;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  background: none;
  padding-left: 35px;
  padding-right: 35px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.contact_info {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: normal;
  line-height: 25px;
  font-size: 18px;
  color: #ffffff;
}
