.wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #FFFFFF;
}

.school {
    position: relative;
    flex: 1;
    margin-left: 50px;
    margin-top: 31px;
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    font-size: 24px;

    color: #000000;
}

.number {
    position: relative;
    align-self: center;
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 24px;
    margin-right: 51px;

    color: #000000;
}

.contacts {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 26px;
    flex: 1;
}

.row {
    display: flex;
    flex-direction: row;
}

.logo {
    margin-right: 51px;
    align-self: center;
}

.norn {
    margin-left: 51px;
    margin-top: 109px;
    align-self: center;
    flex-direction: row;
}


.menu {
    position: relative;
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    align-self: center;
}

.menu ul {
    display: flex;
    justify-content: flex-start;
    list-style: none;
    

}

.pics {
    width: 300px;

    height: 300px;

    margin: 0 auto;

    margin-top: 0px;

    background-position: center;

    background-repeat: no-repeat;

    margin-top: 50px;

    transform: rotate(-135deg);
}