.wrapper {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #FFFFFF;
}

.school {
    position: relative;
    flex: 1;
    margin-left: 50px;
    margin-top: 31px;
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    font-size: 24px;

    color: #000000;
}

.number {
    position: relative;
    align-self: center;
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 24px;
    margin-right: 51px;

    color: #000000;
}

.contacts {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 26px;
    flex: 1;
}

.row {
    display: flex;
    flex-direction: row;
}

.logo {
    margin-right: 51px;
    align-self: center;
}

.norn {
    margin-left: 51px;
    margin-top: 3rem;
    align-self: center;
    flex-direction: row;
}


.menu {
    position: relative;
    font-family: "Ubuntu";
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    align-self: center;
    margin-top: 2rem;
}

.menu ul {
    display: flex;
    justify-content: flex-start;
    list-style: none;
}

.it {
    list-style: none;
    text-decoration: none;
    display: table-cell;
    text-align: center;
}

.mn {
    width: 50%;
    display: table;
}

.pics {
    flex: 8;
    display: flex;
    flex-direction: column-reverse;
    align-self: flex-end;
    margin-right: 4%;
}

.girl_top {
    height: 0;
    width: 6%;
    padding-bottom: 6%;
    margin-top: 2%;
    margin-bottom: -7%;
    background-color: #BACBDC;
    transform: rotate(45deg);
    align-self: center;
}

.girl_pic {
    display: block;
    position: relative;
    max-width: 937px;
    max-height: 891px;
    width: 100%;
    height: auto;
    object-fit: contain;
}

.first_rec_container {
    flex: 6;
    display: flex;
    flex-direction: column-reverse;
    align-self: flex-end;
    margin-right: -20%;
    margin-left: 15%;
}

.first_rec_top {
    height: 0;
    width: 6%;
    padding-bottom: 6%;
    margin-top: 2%;
    margin-bottom: -7%;
    background-color: #435465;
    transform: rotate(45deg);
    align-self: center;
    z-index: 3;
}

.first_rec_top_2 {
    height: 0;
    width: 12%;
    padding-bottom: 12%;
    margin-top: 4%;
    margin-bottom: -14%;
    background-color: #FFFFFF;
    transform: rotate(45deg);
    align-self: center;
    z-index: 2;
}

.first_rec_pic {
    display: block;
    position: relative;
    width: 100%;
    height: auto;
    object-fit: contain;
    z-index: 1;
}